<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Appenders>
        <RollingFile name="LOCALHOST"
                     fileName="./logs/dis403/lab1_02.log"
                     filePattern="./logs/dis403/lab1_02.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d [%t] %-5p %c- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug"> <!-- error info debug -->
            <AppenderRef ref="LOCALHOST" />
        </Root>

        <Logger name="ru.itis.dis403"
                level="debug" additivity="false">
            <AppenderRef ref="LOCALHOST" />
        </Logger>
    </Loggers>
</Configuration>