<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <!-- Замените путь в logdir на ваш путь к логам -->
        <Property name="logdir">/Users/elvina/IdeaProjects/dis403/logs</Property>
        <Property name="layout">%d [%t] %-5p %c- %m%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="LOCALHOST"
                     fileName="${logdir}/lab07_ajax.log"
                     filePattern="${logdir}/lab07_ajax-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LOCALHOST"/>
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="ru.itis.dis403" level="debug" additivity="false">
            <AppenderRef ref="LOCALHOST"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>

</Configuration>
